:root {
    --m: #072227;
    --s: #35858b;
    --t: #4fbdba;
    --a: #aefeff;
}


/***** Scroll ******/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    background-color: var(--m);
}

.hero-section {
    position: relative;
    width: 100%;
    height: 89vh;
    background: url(../../public/images/hero-image.jpg) center no-repeat;
    background-size: cover;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1000;
}

.hero-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content-section .main-title {
    font-size: 2.5rem;
}

.hero-content-section .subtitle {
    margin-bottom: 2rem;
}

.hero-content-section a {
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 5px;
    background: var(--s);
    transition: background 150ms ease-in;
}

.hero-content-section a:hover {
    background: var(--t);
}

.signup-box {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
    width: 88%;
    margin: 2rem auto;
    background: url(../../public/images/sign-up-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 1.5rem;
    color: #fff;
}

.signup-first-section .section-title {
    margin-bottom: 1rem;
}

.signup-first-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.signup-box .signup-box-button {
    background-color: var(--s);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    display: inline-block;
}

.signup-btn-section {
    border: 1px solid white;
}

.signup-list {
    margin-top: 1rem;
}

.signup-list li {
    list-style: disc;
}


/********* SIGN IN ********/

.signin-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
    max-height: auto;
}

.signin-bg{
    background-color: rgb(250, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 10px;

}

.signin-bg form{
    padding: 1.5rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-bg form h1{
    text-align: center;
}

.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form .form-input{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.signin-form .form-input:nth-child(2){
    margin-top: 1rem;
}

.signin-form .form-input input{
    padding: 0.5rem;
    margin-top: 0.4rem;
    border: none;
    border-bottom: 1px solid var(--s);
    width: 20rem;
}

.signin-bg input[type="submit"]{

    padding: 0.6rem 0.8rem;
    background-color: var(--s);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    border: none;
    margin-top: 2rem;
    color: white;
    cursor: pointer;
}

.signup-suggest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.signin-bg .signup-suggest{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-suggest .signup-link{
    padding: 0.6rem 0.8rem;
    background-color: var(--s);
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    color: white;
    cursor: pointer;
}

.signin-bg .signin-form .auth-error{
    font-size: 0.8rem;
    color: rgb(211, 0, 0);
    margin-top: 1.2rem;
}


/******** RESET PASSWORD ********/

.reset-password-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
}

.reset-password-container{
    padding: 1rem;
}

.password-reset-header{
    color: #fff;
    margin-bottom: 1.5rem;
}


/********** FOOTER **********/

footer {
    background: rgba(255, 255, 255, 0.05);
}

.page-footer {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    width: 70%;
    margin: auto;
    height: 30vh;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-media-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 4rem;
}

.media-link {
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 3rem;
    margin-top: 1rem;
}

.footer-logo-link {
    display: grid;
}

.footer-logo-link img {
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.ipc-icon {
    color: #fff;
}

.ipc-icon:hover {
    color: var(--t);
    transition: color 150ms ease-in-out;
}

/******** ERROR *******/

.error-message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1.7rem;
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../../public/images/error-bg.gif);
    background-position: 20% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1.7rem;
}