.container{
    width: 90%;
    margin: auto;

}
.page-header{
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    align-items: center;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.page-logo{
    width: 230px;
    padding: 0.5rem;
}

.page-logo img{
    width: 100%;

}

.header-searchbar{
    position: relative;
    padding: 0.5rem;
}

.header-searchbar .search-icon{
    width: 20px;
    position: absolute;
    top: 33%;
    left: 3.3%;
}

.header-searchbar input{
    padding: 0.6rem 2rem;
    width: 27rem;
    border-radius: 7px;
    border: none;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.header-links li{
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links a:hover{
    color: var(--t);
}

.header-links li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    text-align: center;
    transition: color 150ms ease-in-out;
}

.signin-btn{
    cursor: pointer;
    border: none;
    padding: 0.6rem 0.7rem;
    border-radius: 5px;
    color: white;
    margin-right: 0.8rem;
    transition: color 150ms ease-in ; 
}

.signin-btn:hover{
    color: var(--t);
}

.header-signup-link{
    background-color: var(--s);
    padding: 0.4rem 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 150ms ease-in ;
}

.header-signup-link:hover{
    background-color: var(--t) ;
}

.user-header-links {
    display: flex;
    justify-content: space-between;
}

.user-profile-section{
    position: relative;
}

.user-profile-name{
    cursor: pointer;
    padding: .2rem .3rem ;
}

.user-dropdown-menu{
    position: absolute;
    top: 40px;
    z-index: 100;
    width: 150px;
    border: 1px solid white;
    transform: translateX(-55%);
    background-color: var(--m);
    padding: 0.7rem;
    overflow: hidden;
}

.dropdown-item{
    display: flex;
    padding: 0.3rem 0.5rem;
    transition: background 150ms ease-in;
    border-radius: 5px;
}

.dropdown-item:hover{
    background-color: var(--s);
}

.logout-btn{
    cursor: pointer;
}