.movies-display-section{
    padding: 1rem;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.movies-sidebar{
    padding: 1.5rem;
    border: 1px solid var(--t);
    border-radius: 5px;
    height: auto;
}

.search-section{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}

.search-section h1{
    color: #fff;
}

input:focus{
    outline: none;
}

.search-form{
    margin-top: 1.2rem;
    display: flex;
}

.search-section input{
    width: 17rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5px 0 0 5px;
}

.search-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--t);
    border: none;
    width: 2rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 0 0.2rem ;
}

.search-section button:hover{
    background-color: var(--t);
    transition: background-color 150ms ease-in-out;
}

.genre-section .genre-title{
    margin-bottom: 1rem;
    color: #fff;
}

.sort-by{
    margin-top: 1.5rem;
}

.sort-by .sort-title{
    color: #fff;
}

.sort-by button{
    background-color: var(--t);
    padding: 0.2rem .4rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.sort-by button:hover{
    background-color: var(--a);
    color: black;
    transition: all 150ms ease-in-out;
}

.top-rated-btn, .popular-btn{
    margin-right: 0.6rem;
}

.sort-categories{
    margin-top: 1rem;
}

.movies-content-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.movies-content-grid{
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(5,1fr);
}

.single-content{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    /* border: 0.1px solid var(--t); */
    background: rgba(255, 255, 255, 0.025);
}   

.single-content .content-id{
    display: none;
}

.content-image-link{
    width: 100%;
    border-radius: 8px;
}

.content-image-link img{
    width: 100%;
    border-radius: 8px;
}

.single-content img:hover{
    opacity: 0.75;
    transition: opacity 250ms ease-in-out;
}

.single-content .title-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.4rem 0.5rem;
}

.single-content .content-title{
    font-weight: 700;
}

.single-content .content-title:hover{
    color: var(--t);
    transition: color 125ms ease-in-out;
}

.single-content .content-btn{
    position: absolute;
    display: flex;
    align-items: center;
    right: 1%;
    top: 0.5%;
    width: 30px;
    height: 35px;
    padding: 0.2rem 0.1rem;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 3px;
}

.single-content .content-btn:hover{
    color: var(--t);
    background-color: var(--m);
    transition: all 125ms ease-in-out;
}
.content-rating-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.single-content .content-date{
    color: #AAADB2;
}

.content-rating-section .star-svg{
    width: 18px;
    color: #F5C518;
    margin-right: 0.25rem;
}

.pagination{
    margin-top: 5rem;
    color: #fff;
}

