.content-details-section{
    display: flex;
    flex-direction: column;
}

.backdrop-section{
    position: relative;
}
.content-backdrop{
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 20%;
}

.backdrop-content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}

.upper-backdrop{
    display: flex;
}

.content-original-image{
    width: 200px;
    border: 2px solid var(--t);
}

.content-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .3rem .8rem;
    align-items: flex-start;
    /* border: 1px solid white; */
    color: #fff;
    margin-left: 2rem;
}

.top-backdrop-content{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    /* margin-top: 7rem; */
}

.top-backdrop-content .titles{
    margin-right: 3rem;
}

.top-backdrop-content > h2{
    margin-top: 0.6rem;
}

.bottom-backdrop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white;     */
    /* margin-top: 1.5rem; */
}

.details-genre{
    margin-right: 2rem;
    display: flex;
}

.details-genre span{
    margin-right: 1.2rem;
}

.user-functions{
    display: flex;
}

/* .user-functions .bookmark-svg, .user-functions .favorite-svg{
    margin-right: 1rem;
    width: 30px;
    cursor: pointer;
    background-color: var(--s);
    padding: 0.25rem;
    border-radius: 50%;
} */

.framer-user-btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: var(--s);
    padding: 0.25rem;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
}

.framer-user-btn svg{
    width: 100%;
}

.details-genre span:last-child{
    margin-right: 0rem;
}

.details-genre span:last-child::after{
    content: ".";
}

.content-runtime{
    font-size: 0.75rem;
    margin-right: 2rem;
    color: var(--t);
}

.content-details .titles{
    display: flex;
    flex-direction: column;
}

.detail-content-title{
    font-size: 2rem;
    /* margin-right: 2rem; */
    margin-bottom: 0.3rem;
}

.content-release-date{
    font-size: 1.4rem;
    color: #c7c7c7;
}

.content-tagline{
    font-size: 1.2rem;
    color: #c7c7c7;
}

.backdrop-content-rating{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.rating-container{
    display: flex;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.rating-container svg{
    width: 18px;
    color: var(--t);
    margin-left: 0.2rem;
}

.vote-count{
    font-size: 0.75rem;
    color: var(--t);
}

.content-overview-section{
    margin-top: 2rem;
    padding: 0.5rem;
    color: #fff;
}

.overview-content{
    margin-top: 0.5rem;
}


            /************* WHOLE CONTAINER ************/

.second-content-parent{
    position: absolute;
    top: 43%;
}

.middle-content-section{
    display: grid;
    grid-template-columns: 1fr;
    z-index: -10;
}

.middle-content-grid-section{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 1.2rem;
    color: #fff;
    margin-top: 3rem;
}

.cast-member-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}

.cast-member-title{
    margin-bottom: 1.5rem;
}

.individual-cast-member{
    display: flex;
    flex-direction: column;
}

.cast-members{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 0.5rem;
    overflow-x: auto;
}

.individual-cast-member img{
    width: 100%;
}

.cast-name{
    margin-top: 0.3rem;
}

.character-name{
    margin-top: 0.3rem;
    color: #AAADB2;
}

.view-more-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cast-view-more{
    display: flex;
    margin-top: 0.8rem;
    color: var(--t);
}
.cast-view-more .arrow-right{
    width: 25px;
    margin-left: 0.3rem;
}

.cast-view-more:hover{
    color: var(--a);
    transition: color 150ms ease-in-out;
}

/*********** KEYWORDS *********/

.keywords-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.keywords{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
}

.keyword{
    padding: 0.2rem 0.4rem;
    background-color: var(--s);
    border-radius: 3px;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.keyword:hover{
    background-color: var(--t);
    transition: background-color 150ms ease-in-out;
}

/******** Extra Details ********/

.content-media-link{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: var(--t);
}

.content-media-link:hover{
    color: var(--a);
    transition: color 150ms ease-in-out;
}

.social-media-links .content-media-link .link-svg{
    width: 20px;
}

.extra-details-section .extra-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.extra-details-section > h1{
    margin-bottom: 1.2rem;
    text-align: center;
}
.extra-detail > span:first-child{
    margin-bottom: 0.2rem;
}
.extra-detail > span:last-child{
    color: #c7c7c7
}

.languages .language{
    color: #c7c7c7;
}

.languages .language::after{
    content: ",";
    color: #c7c7c7;
}

.languages .language:last-child::after{
    content: "";
}


/******* VIDEO ******/

.video-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-section .video-title{
    margin-bottom: 1.5rem;
}

.video-section .videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.iframe-video{
    margin-bottom: 1rem;
}

.iframe-video iframe{
    width: 100%;
    height: 260px;
    margin-bottom: 0.5rem;
}

.iframe-video span{
    /* margin-top: 1rem; */
    color: #fff;
}

.video-na{
    font-size: 1rem;
}

        /****** MODAL ******/

.modal-backdrop{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-modal{
    width: clamp(50%, 700px, 90%);
    height: min(50%, auto);
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #fff;
    background-color: var(--m);
}

.rating-modal-content{
    display: flex;
    flex-direction: column;
}

.rating-modal-title{
    margin-bottom: 2rem;
}

.rating-modal-content .rating-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 55%;
}

.rating-modal-content .rating-section h2{
    margin-bottom: 1rem;
}

.rating-modal-content .review-section{
    margin-bottom: 2rem;
}

.review-section .rating-review{
    width: 450px;
    height: 250px;
    resize: none;
}
.modal-close-btn{
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 0.4rem 0.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
}

.post-rating-btn{
    padding: 0.6rem 0.8rem;
    background-color: var(--s);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}