:root{
    --m: #072227;
    --s: #35858b;
    --t: #4fbdba;
    --a: #aefeff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}

body{
    background-color: var(--m);
}

.hero-section{
    position: relative;
    width: 100%;
    height: 89vh;
    background: url(../../public/images/hero-image.jpg) center no-repeat;
    background-size: cover;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1000;
}

.hero-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hero-content-section .main-title{
    font-size: 2.5rem;
}

.hero-content-section .subtitle{
    margin-bottom: 2rem;
}

.hero-content-section a{
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 5px;
    background: var(--s);
}

.hero-content-section a:hover{
    background: var(--t);
    transition: background 125ms ease-in ;
}

.signup-box{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
    width:88%;
    margin: 2rem auto;
    background: url(../../public/images/sign-up-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 1.5rem;
    color: #fff;
}

.signup-first-section .section-title{
    margin-bottom: 1rem;
}
.signup-first-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.signup-box .signup-box-button{
    background-color: var(--s);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    display: inline-block;
}

.signup-btn-section{
    border: 1px solid white;
}

.signup-list{
    margin-top: 1rem;
}

.signup-list li{
    list-style: disc;
}


/********** FOOTER **********/

footer{
    background: rgba(255, 255, 255, 0.05);
}
.page-footer{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    width: 70%;
    margin: auto;
    height: 30vh;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-media-links{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 4rem;
}

.media-link{
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 3rem;
    margin-top: 1rem;
}

.footer-logo-link{
    display: grid;
}

.footer-logo-link img{
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.ipc-icon{
    color: #fff;
}

.ipc-icon:hover{
    color: var(--t);
    transition: color 150ms ease-in-out;
}